<section>
  <div class="container mx-auto mt-8 flex flex-col md:flex-row  items-center">

    <div class="flex-1">
      <h2 class=" mt-8 md:mt-0 font-bold text-3xl">Ng Conf Honduras 2021</h2>
        <p class="mt-4">
          Ng Conf Honduras is the first conference on Angular in Honduras, where national and international people will attend to share ideas, knowledge, experiences and create new connections.


        </p>
        <p class="mt-4">
          We decided to organize NG Honduras because we are passionate about the Angular community, we have all benefited from it, so we feel we have the right to be able to give back a little of everything that the community has given us. We want this conference to be as accessible as possible, so that people from all over the world can come and enjoy the event.
        </p>
      </div>

      <div class="flex-1">
        <img
         class="w-80 max-w-sm mx-auto"
        src="../../../../assets/images/ng-conf-honduras-logo.png" alt="Ng Conf Honduras 2021 Logo">
      </div>
  </div>
</section>
