<section>
  <div class="container mx-auto mt-8 flex flex-col md:flex-row  items-center">

    <div class="flex-1">
      <h2 class=" mt-8 md:mt-0 font-bold text-3xl">Ng Conf Honduras 2021</h2>
        <p class="mt-4">
          NG Conf Honduras es la primera conferencia sobre Angular en Honduras,
          donde personas  nacionales e internacionales asistirán para poder compartir ideas,
          conocimientos, experiencias y crear nuevas conexiones.
        </p>
        <p class="mt-4">
          Decidimos organizar NG Honduras porque nos apasiona la comunidad Angular todos nos hemos beneficiado de ella,
           por lo que nos sentimos con el derecho de poder retribuir un poco de todo lo que la comunidad nos ha dado.
           Deseamos que esta conferencia sea lo más accesible posible, para que personas de todas partes del mundo puedan venir y disfrutar del evento.
        </p>
      </div>

      <div class="flex-1">
        <img
         class="w-80 max-w-sm mx-auto"
        src="../../../../assets/images/ng-conf-honduras-logo.png" alt="Ng Conf Honduras 2021 Logo">
      </div>
  </div>
</section>
