<div class="min-h-full flex flex-col items-center justify-center bg-white p-4 shadow rounded-lg">
  <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
    <img [src]="speaker.photoUrl"
       [alt]="speaker.name"
       class="h-full w-full">
  </div>

  <h2 class="mt-4 font-bold text-xl">{{speaker.name}}</h2>
    <h6 class="mt-2 text-sm font-medium">{{speaker.jobTitle}}</h6>

    <p class="text-xs text-gray-500 text-center mt-3">
      {{speaker.bio}}
    </p>

    <ul class="flex flex-row mt-4 space-x-2">
      <li>
        <a [href]="speaker.socials['twitter']" target="_blank" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li>
        <a [href]="speaker.socials['github']"  target="_blank" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
      <!-- <li>
        <a href="" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
          <i class="fab fa-instagram"></i>
        </a>
      </li> -->
    </ul>
</div>
