<div class="w-full h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('https://lh3.googleusercontent.com/b56SDRTBxqOagtAz2VazTlbVnaIyxaXeOUw8UQ0EYgklJdtXWnV3DtoHK0Kf7OMJZD9JL0cmiORLEUPmY_YMXCraLov60tJkpjkt36dGlawDKdD2cucxOJ59dS4ufWSZyxE6Xwlm7xinQn0NhRMmDPWnR1_L3NckeueDuslvUxeeBdd2v3bZt1Cc_D37sWUgaAeNGYBgNvM_2odCB9YBc_NK5oJAkwAxCu939AkXQQBzSrKtWY2uLrvYL-IKI4g542lLbXigEKFhCCdHfkN9ZzKet4K1vq1XM0iacPVeMvF5YwVkm72LtM8gafI_zzp3Yfv0RZbeTipb8aKlaoRaTUXpwFitnz9xiMl53gIk133UUq2Rei2eTG0c2nAc9lQ0V-hXsbMDDmSpkMFSWf6pDfmoqwGr3Jsc0j2yqeRgPaXZWf29VwMOjbmpNnTtlIu-yo4AWxJY_ZRZwB8CWMIT7lQkpw8lowAC750j0noLL8ferhH8dzBpEMFMbhiPt9Do8lqVBumnnvBBDfl8it9jS2x4L3KRVq8WUd_xhi7Itc5f0RFXvIMtgDLYJP3u6GiaaulGA7vHSQCxM07pQgGPYARtGS8IftHa5wWtn5DR1VQ_CYSvGFszxYvnWXcrb5xrhudp9L7VgyPkMR6bd8FXAKOft3dXDDHjp7oWagoE_4ItTHMXHsV9H8211Dtf=w2868-h1912-no?authuser=5');">
  <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center">
      <div class="mx-4 text-center text-white">
          <h1 class="font-normal text-6xl mb-4">Ng Conf Honduras 2021</h1>
          <h2 class="font-normal text-3xl mb-12">La primera conferencia de Angular en Honduras está de regreso!</h2>
          <h3  class="font-normal text-3xl mb-12">5 - 6 de marzo</h3>
          <div>
              <a href="" class="bg-blue-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-2">
                  Click here
              </a>
              <a href="" class="bg-red-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-red-600 ml-2">
                  Or click here
              </a>
          </div>
      </div>
  </div>
</div>
