<section>
  <div class="container mt-8 mx-auto flex flex-col justify-center">
    <h1 class="font-semibold text-3xl text-center">Nuestros Patrocinadores</h1>
    <div class="flex justify-between mt-8">
      <div>
        <h2 class="font-normal text-blueGray-900 text-xl">Silver</h2>
        <div class="flex flex-col">
          <app-silver-sponsors></app-silver-sponsors>
        </div>
      </div>

      <div>
        <h2 class="font-normal text-blueGray-900 text-3xl">Platinum</h2>
        <app-platinum-sponsors></app-platinum-sponsors>
      </div>

      <div>
        <h2 class="font-normal text-blueGray-900 text-xl">Gold</h2>
        <app-gold-sponsors></app-gold-sponsors>
      </div>

      <!-- <div>
          <h2 class="text-xl">Bronze</h2>
        </div> -->
    </div>
  </div>
</section>
