<div class="flex items-center m-6 gap-x-3">
  <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-20 w-20">
    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&w=128&h=128&q=60&facepad=2"
       alt=""
       class="h-full w-full">
  </div>
  <div class="flex flex-col">
    <h2>Ricardo Chavarria</h2>
    <h3  class="text-blueGray-900 font-medium">Member Title</h3>
  </div>
</div>
