<section>
  <div class="container mx-auto mt-8">
    <div class="flex flex-wrap lg:flex-nowrap justify-center items-center">
      <div>
        <h1 class="font-medium text-4xl mb-3">Nuestro Equipo</h1>
        <p>Nuestro equipo está formado por miembros activos de la comunidad de Angular Honduras.</p>
      </div>
      <div class="flex flex-wrap gap-x-20 flex-shrink justify-center items-center ">
        <app-team-member></app-team-member>
        <app-team-member></app-team-member>
        <app-team-member></app-team-member>
        <app-team-member></app-team-member>
        <app-team-member></app-team-member>
        <app-team-member></app-team-member>
      </div>
    </div>
  </div>
</section>
