<!-- <section>
  <div class="container mx-auto mt-8">
    <div class="flex flex-wrap lg:flex-nowrap justify-center items-center">
      <div>
        <h1 class="font-medium text-4xl mb-3">Nuestro Equipo</h1>
        <p>Nuestro equipo está formado por miembros activos de la comunidad de Angular Honduras.</p>
      </div>
      <div class="flex flex-wrap gap-x-20 flex-shrink justify-center items-center ">
        <ng-container *ngFor="let teamMember of (team$ | async)">

          <app-team-member [teamMember]=teamMember></app-team-member>

        </ng-container>
      </div>
    </div>
  </div>
</section> -->


<section class="bg-white dark:bg-gray-800 container mx-auto p-6">
  <h2 class="text-gray-800 dark:text-white font-medium capitalize text-xl md:text-2xl">Our Team</h2>

  <div class="flex items-center justify-center">
      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-8">

        <ng-container *ngFor="let teamMember of (team$ | async)">

          <app-team-member [teamMember]=teamMember></app-team-member>

        </ng-container>
          <!-- <div class="max-w-xs w-full text-center">
              <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar"/>

              <div class="mt-2">
                  <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Jane Doe</h3>
                  <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Co-founder</span>
              </div>
          </div>

          <div class="max-w-xs w-full text-center">
              <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80" alt="avatar"/>

              <div class="mt-2">
                  <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Steve Ben</h3>
                  <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">UI/UX</span>
              </div>
          </div>

          <div class="max-w-xs w-full text-center">
              <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar"/>

              <div class="mt-2">
                  <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                  <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
              </div>
          </div> -->
      </div>
  </div>
</section>
