<div class="flex flex-col">
  <div>
    <img class="w-44"
    src="https://firebasestorage.googleapis.com/v0/b/ng-honduras.appspot.com/o/images%2Fpartners%2Fgitkraken.png?alt=media&token=ee5cd32d-929d-40e8-9f95-f47005d379c2" alt="Silver Sponsor">
  </div>
  <div>
    <img class="w-44"
    src="https://firebasestorage.googleapis.com/v0/b/ng-honduras.appspot.com/o/images%2Fpartners%2Fgitkraken.png?alt=media&token=ee5cd32d-929d-40e8-9f95-f47005d379c2" alt="Silver Sponsor">
  </div>
  <div>
    <img class="w-44"
    src="https://firebasestorage.googleapis.com/v0/b/ng-honduras.appspot.com/o/images%2Fpartners%2Fgitkraken.png?alt=media&token=ee5cd32d-929d-40e8-9f95-f47005d379c2" alt="Silver Sponsor">
  </div>
</div>
